{% if obj.enable == false  %}
<a
    class="btn  btn-raduis btn-sm btn-white delete-object btn-listing"
    title="{{ 'core.button.delete'|trans({},'ApplicationCoreBundle') }}"
    data-toggle="myModal"
    rel="myModal"
    href="javascript:void(0)"
    data-url="{{path(key, {'id': obj.id})}}"
    data-originalconfirm="Etes-vous sur de vouloir supprimer la catégorie: {{ obj }} ?"

>
    <i class="fa fa-trash"></i>
    </a>
{% endif %}